body{
  background-color: #efefef !important;
}
#root{
  min-height: 100vh;
  padding-top:76px
}
.login-form,.register-form{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 200px auto;
  gap:15px;
}
.login-form{
  width:300px;
  flex-direction: column;
}
.register-form{
  width:600px
}
.login-form input,.register-form input{
  border:none;
  outline: none;
  padding: 15px;
  border-bottom: 1px solid rgb(105, 101, 101);
}
.login-form input:focus::placeholder,
.register-form input:focus::placeholder{
  opacity: .5;
}
.register-form input{
  width:calc(50% - 15px);
}