@import url(assets/css/cairo_font.css);

* {
  font-family: "Cairo", sans-serif;
  padding: 0;
  margin: 0;
}

:root {
  --main-color: #66cccc;
  --btn-bg: var(--main-color);
  --btn-color: #fff;
  --border-color: var(--main-color);
  --shadow-color: var(--main-color);
}

#root {
  min-height: 100vh;
  padding-top: 76px;
}

a {
  text-decoration: none !important;
}

ul {
  list-style: none;
}

.nav-link {
  font-size: 27px !important;
}

.nav-item:not(:last-child) {
  margin-right: 30px
}

@media(max-width:991px) {
  .bottom-navbar {
    width: 100%;
    box-shadow: -1px -1px 2px #ddd;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
  }
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.row>* {
  padding-right: 0;
  padding-left: 0;
}

.btn-style {
  border: none;
  outline: none;
  color: var(--btn-color);
  background-color: var(--main-color);
  padding: 12px;
  text-decoration: none;
}

.btn-style:hover {
  color: var(--btn-color);
}

.input-style {
  border: none;
  outline: none;
  padding: 13px;
  border-bottom: 1px solid var(--border-color);
  background-color: transparent;
}

.login-form,
.register-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 200px auto;
  gap: 15px;
  box-shadow: 1px 1px 2px var(--shadow-color);
  padding: 20px;
  background-color: #fff;
}

.login-form {
  width: 400px;
  flex-direction: column;
}

.register-form {
  width: 600px;
}

.login-form input:focus::placeholder,
.register-form input:focus::placeholder {
  opacity: 0.5;
}

.register-form .form-group {
  width: calc(50% - 15px);
}

.register-form .form-group input {
  width: 100%;
}

/* Home Page */
@media(max-width:600px) {
  .sub-section {
    display: none;
  }
}

/* End Home Page */
.owl-carousel .owl-stage-outer {
  height: 255px;
  overflow-y: visible;
}

.owl-carousel .owl-item {
  margin-top: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.owl-prev,
.owl-next {
  position: absolute;
  top: calc(50% - 25px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00000094 !important;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #fff !important;
  font-size: 40px !important;
  opacity: 0;
  transition: 0.5s opacity;
}

.owl-carousel .owl-prev {
  left: 10px;
}

.owl-carousel .owl-next {
  right: 10px;
}

.owl-carousel:hover .owl-prev,
.owl-carousel:hover .owl-next {
  opacity: 1;
}

.owl-carousel .owl-item {
  overflow-y: visible;
  transition: .4s all;
}

.product-images .owl-item img {
  height: 300px;
}

@media (min-width: 1000px) {
  .product-images .owl-item img {
    height: 250px
  }
}

@media (max-width: 450px) {
  .product-images .owl-item img {
    height: 200px
  }
}

img {
  transition: .5s all;
}

.owl-carousel.home-products .owl-item {
  box-shadow: 1px 1px 2px 2px #ddd !important;
}

@media (max-width:500px) {
  /* .owl-item img{
    object-fit: contain !important;
  } */
}

.nav-link.active {
  color: var(--main-color) !important;
  text-transform: scale(1.1);
}

.navbar .nav-item {
  transition: .2s;
  font-size: 30px;
}

.navbar.bg-dark .nav-item a {
  color: #fff;
}

.navbar .nav-item:hover {
  transform: scale(1.1);
}

.navbar .navbar-brand {
  color: var(--main-color) !important;
  border-top: 1px solid var(--main-color);
  border-left: 1px solid var(--main-color);
  padding: 10px;
  border-radius: 10px;
}

.navbar .navbar-brand:hover {
  color: var(--main-color);
}

@media(max-width:500px) {
  .navbar form {
    justify-content: space-around;
  }

  .navbar form .input-style {
    width: 0;
    border: none;
  }
}

.navbar .input-style {
  transition: all .3s;
  max-width: 400px;
  border-left: 1px solid var(--main-color);
  border-radius: 10px;
  margin: auto;
}

.navbar.bg-dark .input-style {
  color: #fff;
}

.navbar .btn-style {
  padding: 5px;
  background-color: transparent;
  border-top: 1px solid var(--main-color);
  border-radius: 20px;
  font-size: 18px;
}

.navbar.bg-white .btn-style {
  color: rgba(0, 0, 0, 0.55);
}

.navbar.bg-dark .input-style::placeholder {
  color: #fff;
}

.navbar .navbar-collapse {
  display: flex;
}

@media (max-width:300px) {
  .navbar .navbar-collapse {
    display: none;
  }
}

@media (max-width:600px) {
  .navbar .navbar-collapse {
    flex-direction: column-reverse;
    padding-top: 10px;
  }

  .carousel {
    height: 170px !important;
  }

  .carousel-item img {
    height: 170px !important;
  }

  .login-form,
  .register-form {
    flex-direction: column;
    width: 100%;
    margin-top: 70px;
  }

  .login-form .more-options {
    flex-direction: column;
  }

  .register-form .form-group {
    width: 100%;
  }

  .register-form .btn-style {
    width: 50%;
  }
}

@media(max-width:991px) {
  .cart-left-col {
    overflow-y: unset !important;
    height: fit-content !important;
  }
}

.cart-product:not(:last-child),
.cart-header {
  border-bottom: 1px solid #ccc;
}