body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root{
  /* background-color: #efefef; */
  min-height: 100vh;
  padding-top:76px
}
.login-form,.register-form{
  width:300px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: 200px auto;
}
.login-form input,.register-form input{
  margin: 5px 0;
}